@import "seattletimes";
@import "flexbox";
@import "page";

@dark: #685959;

body {
  font-size: 16px;
}

.hidden {
  display: none;
}

.gallery {
  .display-flex();
  max-width: 1400px;
  margin: auto;
  padding-right: 10px;

  @media @tablet {
    display: block;
    padding-right: 0;
  }
}

.column {
  .flex(0 0 400px);
  padding-right: 40px;
  padding-left: 10px;

  @media @tablet {
    padding-right: 0;
    padding-left: 0;
  }
}

.caption {
  background: @dark;
  padding: 15px;
  color: white;
}

.title, .featured {
  font-weight: bold;
  font-size: 20px;
  font-family: @df-sans;
}

.listen {
  font-family: @df-sans;
  cursor: pointer;
}

.credits {
  font-style: italic;
}

.image {
  .flex(1);
  position: relative;

  img {
    display: block;
    margin: auto;
  }
}

.play {
  position: absolute;
  top: 35%;
  left: 45%;
  color: @dark;
  cursor: pointer;

  &:hover {
    color: @df-dark-gray;
  }

  &.with-sound {
    font-size: 90px;
  }

  &.without-sound {
    top: 55%;
    left: 42%;
  }
}

.audio-icon {
  font-size: 12px;
  color: @dark;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;

  .fa {
    font-size: 20px;
    padding-right: 4px;
  }

  &.muted {
    color: @df-border-gray;
  }
}

.previous, .next {
  cursor: pointer;

  &:hover {
    color: @dark;
  }
}
