@import "seattletimes";
@import "flexbox";
@import "page";

@black: #232323;
@dark: #685959;
@brown: #a88c8c;
@light: #dfd3d3;

body {
  font-size: 18px;

  &.outer {
    max-width: 1400px;
    margin: auto;
  }
}

.embedded {
  max-width: 960px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}
.fullscreen {
  font-family: @df-sans;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;

  a {
    color: @dark;
    transition: color .1s linear;

    &:hover {
      color: @black;
    }
  }
}

.wrapper {
  padding: 30px 20px;

  @media @mobile {
    padding: 20px 5px;
  }

  .readmore a {
    display: block;
  }
}

.splash {
  max-width: 930px;
  width: 100%;
}

.gallery {
  .display-flex();
  max-width: 1400px;
  margin: auto;
  padding-right: 10px;

  @media @tablet {
    display: block;
    padding-right: 0;
  }
}

.embedded {
  .column {
    .flex(0 0 350px);
  }
}

.column {
  .flex(0 0 400px);
  position: relative;
  padding-left: 40px;

  @media @tablet {
    padding-left: 0;
  }
}

.embedded {
  .title {
    margin-top: 0;
  }
}

.title {
  margin-top: 30%;

  @media @bigbreak {
    margin-top: 10%;
  }

  @media @littlebreak {
    margin-top: 0;
  }

  @media @tablet {
    text-align: center;
  }
}

.buttons {
  text-align: center;
}

.index {
  cursor: pointer;

  .fa {
    font-size: 10px;
    margin: 0 2px;
    color: @light;

    @media @tablet {
      margin: 0 6px;
    }
    &.darker {
      color: @dark;
    }
  }

  &.mobile-index {
    display: none;
    text-align: center;
    padding-top: 5px;
  }

  @media @tablet {
    &.mobile-index {
      display: block;
    }
    &.desktop-index {
      display: none;
    }
  }
}

.readmore a {
  display: none;
  font-family: @df-sans;
  color: @dark;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 28px;
  float: right;
  font-weight: bold;
  cursor: pointer;
  transition: color .1s linear;

  &:hover {
    color: @black;
  }

  @media @tablet {
    float: none;
    text-align: right;
  }
}

.caption {
  @media @bigbreak {
    font-size: 17px;
  }
  @media @littlebreak {
    font-size: 16px;
  }
  @media @tablet {
    p {
      margin-bottom: 0;
    }
  }
}

.title, .featured {
  font-weight: bold;
  font-size: 30px;
  font-family: @df-sans;
  padding-bottom: 5px;
}
.title {
  .display-flex();
}

.arrow-box {
  .flex(0 0 26px);
  text-align: center;
}
.featured {
  .flex(1);
  text-align: center;
  font-family: 'Amatic SC';
  font-weight: bold;
  font-size: 48px;
  color: @dark;

  @media @mobile {
    font-size: 42px;
  }
}

.embedded {
  .featured {
    font-size: 42px;
  }
}

.arrow, .rewind {
  display: inline-block;
  color: @brown;
  cursor: pointer;
  transition: color .1s linear;
  font-size: 30px !important;
  line-height: 72px !important;

  @media @mobile {
    line-height: 62px !important;
  }

  &:hover {
    color: @black;
  }
  &.hidden {
    display: none;
  }
  &.disabled {
    color: @df-light-gray;
    cursor: default;
  }
}

.embedded {
  .arrow, .rewind {
    font-size: 26px !important;
    line-height: 68px !important;
  }
}

.listen, .audio-icon {
  background: @dark;
  color: white;
  font-family: @df-sans;
  cursor: pointer;
  font-size: 12px;
  padding: 4px 10px;
  display: inline-block;
  border-radius: 3px;
  transition: background .1s linear;

  .fa {
    font-size: 16px;
    padding-right: 4px;
  }

  &:hover {
    background: @black;

    &.muted {
      background: @df-middle-gray;
    }
  }
}

.credits {
  font-style: italic;
}

.image {
  .flex(1);
  position: relative;

  img {
    display: block;
    margin: auto;
  }
}

.play-wrapper {
  width: 100%;
  text-align: center;
  margin: auto;
  position: absolute;
  bottom: 5%;
}

.play-buttons {
  background: rgba(223,211,211,.85);
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  border-radius: 2px;
}

.play {
  text-align: center;
  cursor: pointer;
  font-family: @df-sans;
  text-transform: uppercase;

  &.with-sound {
    font-size: 28px;
    background: @dark;
    color: white;
    display: inline-block;
    padding: 5px 15px 0 15px;
    border-radius: 2px;
    transition: background .1s linear;

    &:hover {
      background: @black;
    }
    .note {
      padding-left: 10px;
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
      vertical-align: top;
      line-height: 40px;
      letter-spacing: 1px;
    }

  }

  &.without-sound {
    padding-top: 15px;

    .note {
      font-size: 12px;
      font-weight: bold;
      color: @black;
      transition: color .1s linear;

      &:hover {
        color: @dark;
      }
    }
  }
}

.audio-icons {
  display: inline-block;
}

.audio-icon {
  display: inline-block;
  font-family: @df-sans;
  cursor: pointer;
  font-size: 12px;
  transition: background .1s linear;

  .silenced {
    display: none;
  }
  
  &.muted {
    background: #CCC;

    .silenced {
      display: inline-block;
    }
    .playing {
      display: none;
    }
  }

  &:hover {
    background: @black;
  }
}

.text {
  padding-top: 15px;
}

.sources {
  font-style: italic;
  font-size: 16px;
  padding-bottom: 2px;

  @media @mobile {
    font-size: 12px;
  }

  &.special {
    padding: 10px 0;
  }
}

.hidden {
  display: none;
}

.bottom {
  padding-top: 20px;
  text-align: center;
}

.copyright {
  font-family: @df-sans;
  color: @df-dark-gray;
  font-size: 14px;
  text-align: center;
  display: inline-block;

  @media @tablet {
    display: block;
  }
}

.divider {
  @media @tablet {
    display: none;
  }
}

.subscribe {
  font-family: @df-sans;
  font-size: 16px;
  padding-bottom: 20px;
}

.small-logo {
  height: 20px;
  padding-left: 16px;
  margin-bottom: 5px;
  vertical-align: bottom;
  display: block;
}

.subscribe-button {
  margin: 5px 0;
  background: @dark;
  font-family: @df-sans;
  display: inline-block;
  color: white;
  padding: 9px 14px 8px 14px;
  font-size: 15px;
  letter-spacing: 0.02em;
  transition: background .1s linear;

  &:hover {
    color: white;
    background: @black;
  }
}

.creativecommons {
  font-family: @df-sans;
  font-size: 10px;
  padding-top: 4px;
  color: @df-middle-gray;

  a {
    color: @brown;
    transition: color .1s linear;

    &:hover {
      color: @dark;
    }
  }
}
