<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <div class="embedded">
        <%= t.include("./_gallery.html") %>
        <div class="fullscreen"><a target="_blank" href="http://projects.seattletimes.com/2015/ravensdale">VIEW FULLSCREEN PRESENTATION</a></div>
      </div>
    </responsive-child>

    <script>
      var data = <%= JSON.stringify(csv.images) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
