<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <div class="title">Hello world</div>

    <div class="gallery">

      <div class="play with-sound">
        <i class="fa fa-play-circle"></i>
      </div>

      <div class="play without-sound">
        Play without sound
      </div>

      <div class="image">
        <img src="http://placekitten.com/900/600">
      </div>

      <div class="audio-icons">
        <div class="hidden playing audio-icon"><i class="fa fa-microphone"></i> Click to mute audio</div>
        <div class="hidden muted audio-icon"><i class="fa fa-microphone-slash"></i> Click to hear audio</div>
      </div>

      <div class="caption"></div>
      
      <div class="hidden previous">
        <i class="fa fa-arrow-left"></i>
      </div>
      <div class="hidden next">
        <i class="fa fa-arrow-right"></i>
      </div>

    </div>

    <script>
      var data = <%= JSON.stringify(csv.images) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
