<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>
    <nav class="top-bar">
      <a class="logo" href="http://seattletimes.com">
        <img src="./assets/seattletimes.svg">
      </a>
    </nav>

    <div class="wrapper">
      <%= t.include("./_gallery.html") %>
    </div>

    <%= t.include("partials/_ad.html", { type: "bannerBottom" }) %>
    <div class="bottom">
      <div class="copyright published"><em>Published November 15, 2015</em></div>
      <div class="copyright">| Copyright 2015 The Seattle Times</div>
    </div>

    <script>
      var data = <%= JSON.stringify(csv.images) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
